body, div, span, header, footer, nav, section, aside, article, ul, ol, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption, img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  border: none;
  box-sizing: border-box;
  line-height: 1;
  font-family: PingFangSC-Regular, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

button, input, textarea, select {
  -webkit-appearance: none;
  outline: none;
}

/* 左浮动 */
.fl {
  float: left !important;
}

/* 右浮动 */
.fr {
  float: right !important
}

/* 清除浮动 */
.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

/* 单行文本溢出 */
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

/* 多行文本溢出 */
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

/* 文字居中 */
.ac {
  text-align: center;
}

/* 文字居右 */
.ar {
  text-align: right;
}

/* 弹性盒子 */
.flex {
  display: flex;
}

/* 自适应剩余宽度 */
.flex-1 {
  flex: 1;
}

/* 向上对齐 */
.vt {
  display: flex;
  align-items: flex-start;
}

/* 垂直居中 */
.vc {
  display: flex;
  align-items: center;
}

/* 向下对齐 */
.vb {
  display: flex;
  align-items: flex-end;
}

/* 两端对齐 */
.hb {
  display: flex;
  justify-content: space-between;
}

/* 左右居中对齐 */
.ha {
  display: flex;
  justify-content: space-around;
}

img {
  display: block;
  width: 100%;
}

body {
  background: #fff;
}
.pc-header {
	display: none;
}
.nav-button {
	/* display: none; */
}
h1 {
	font-size: .4rem;
	color: #ECC77E;
}


.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}


.header .tit {
	z-index: 100 !important;
	color: #fff;
	width: 100%;
	padding: .24rem 0;
	background: #101010;
	font-size: .4rem;
	line-height: .4rem;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}



/* 左导航 */
.main-nav .nav-button .spanbox {
    padding-top: 1px;
}
.main-nav .nav-button span {
    display: block;
    opacity: 1;
    transition: all 0.8s;
    background: #1878F1;

}
.main-nav {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 888;
    color: #fff;
}
.main-nav .nav-logo {
    position: absolute;
    z-index: 9999;
    top: .4rem;
    left: .6rem;
    transition: all 1s;
}
.nav-zhezhao {
    position: fixed;
    z-index: 886;
    /* top: -50rem; */
    top: 0;
    left: 0rem;
    width: 100%;
    height: 100rem;
    background: #000;
    display: block;
    opacity: 0;
    transition: all 1s;
    /* transform: translate(50rem,0); */
}
.nav-zhezhao.zhezhao-show {
    display: block;
    opacity: 0.6;
    transition: all 1s;
    transform: translate(0,0);
}
.zhezhao-translate {
    transform: translate(-10%,0);
    transition: all 1s ease-in-out 0s;
}
.main-nav .nav-button {
	position: fixed;
    z-index: 9999;
    top: .24rem;
    left: .4rem;
    width: .54rem;
    height: .44rem;
    line-height: .45rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    /* background: red; */
}
/* .main-nav .nav-button i {
}
.main-nav .nav-button i.baise {
    color: #fff;
} */
.main-nav .nav-button .spanbox {
	position: relative;
	width: .54rem;
	height: .44rem;
	/* background: red; */
}
.main-nav .nav-button span {
	position: absolute;
	margin: 0;
    display: block;
    width: 100%;
    height: .04rem;
    opacity: 1;
    transition: all 0.8s;
    background: #fff;
}
.main-nav .nav-button span:nth-child(1) {
	top: 0;
	left: 0;
}
.main-nav .nav-button span:nth-child(2) {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.main-nav .nav-button span:nth-child(3) {
	bottom: 0;
	left: 0;
}
/* 关闭样式 */
.main-nav .nav-button .spanbox.to-off span.span1 {
    transform: rotate(45deg);
    transform-origin: 0rem .01rem;
    transition: all  0.8s;
    background: #fff;
    width: .56rem;
}
.main-nav .nav-button .spanbox.to-off span.span2 {
    opacity: 0;
    transition: all 0.8s;
    background: #fff;
}
.main-nav .nav-button .spanbox.to-off span.span3 {
    transform: rotate(-45deg);
    transform-origin: 0rem .01rem;
    transition: all 0.8s;
    background: #fff;
    width: .56rem;
}
/* 打开样式 */
.main-nav .nav-button .spanbox.to-on span.span1 {
    transform: rotate(0deg);
    transform-origin: 0 .01rem;
    transition: all 0.8s;
    background: #fff;
}
.main-nav .nav-button .spanbox.to-on span.span2 {
    opacity: 1;
    transition: all 0.8s;
    background: #fff;
}
.main-nav .nav-button .spanbox.to-on span.span3 {
    transform: rotate(0deg);
    transform-origin: 0rem .01rem;
    transition: all 0.8s;
    background: #fff;
}
.main-nav .nav-list {
	width: 6.38rem;
	position: absolute;
    z-index: 999;
    /* padding-left: .6rem; */
    float: left;
    width: 0rem;
    min-width: 0rem;
    height: 100%;
    left: 0rem;
    overflow: hidden;
    background: #161616;
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}
.main-nav .nav-list ul {
    height: 70%;
    padding-top: .98rem;
    padding-bottom: 2.3rem;
}
.main-nav .nav-list li {
	position: relative;
	height: 1.16rem;
	width: 10rem;
	padding-left: 1.2rem;
	font-size: .26rem;
	line-height: 1.16rem;
	border-bottom: .01rem solid #ECC77E;
	font-size: .36rem;
} 
.main-nav .nav-list li.active {
	border-left: .08rem solid #ECC77E;
	background: #2E2C25;
	padding-left: 1.12rem;
}
.main-nav .nav-list li a {
	color: #fff;
}
.main-nav .nav-list li.li-logo {
	height: 2.20rem;
	border-bottom: none;
	background: url(../images/pc-logo.png) no-repeat 1.26rem .78rem/3.88rem .7rem;
}
.main-nav .nav-list-show {
width: 100%;
    /* min-width: 600px; */
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}
.main-nav .nav-list-hidden {
    width: 0rem;
    transition: all 0s ease-in-out 0s;
}


.main-nav .nav-list li a:hover {
    transform: translate(.2rem,0);
    transition: all 1s;
    /* animation: nav-list 1s linear 0s 1; */
}
/* 主导航hover效果 */
/* @keyframes nav-list {
    0%{transform: translate(0px,0px);}
    50%{transform: translate(-10px,0px);}
    100%{transform: translate(0px,0px);}   
} */



/* 移动端第一屏 */
.home {
	background: url(../images/m-sy-1.png) no-repeat center/cover;
}
.home .box {
	padding: 0 30px;
}
.home .sy1-box {
    height: 28%;
}
.home .sy-logo {
width: 3.88rem;
    height: .7rem;
    margin: 5.8rem auto 0 auto;
    /* margin-bottom: .42rem; */
    background: url(../images/pc-logo.png) no-repeat center/contain;
}
/*.home .txt{
  padding: .34rem 0;
}*/
.home h1 {
  font-size: 0.42rem;
  color: #fff;
  padding: 0.34rem 0;
	/*color: #fff;
    text-align: center;
    font-size: .48rem;
    padding-top: .42rem;
    padding-bottom: .42rem;
    line-height: .58rem;*/
}
.home h3{
  font-size: 0.32rem;
  letter-spacing: 0.12rem;
  color: #ffffff;
  margin-bottom: 0.44rem;
}
home h1,home h3{
  text-shadow: 0.02rem 0.03rem 0 rgba(23,15,3,0.86);
}
.home p {
  text-align: center;
  font-size: 0.24rem;
  letter-spacing: 0.02rem;
  color: #ffffff;
  line-height: 0.51rem;
	/*text-align: left;
	font-size: .24rem;
	color: #AFAFAF;
	line-height: .5rem;*/
}
/* 移动端第二屏 */
.screem2 {
	background: url(../images/m-sy-2.png) no-repeat center/cover;
  /* border: 1px solid rgba(0,0,0,0); */
}
.screem2 .logo{
  margin: 0.8rem auto 0 auto;
  width: 1.17rem;
  height: 1.17rem;
  background: url("../images/pc-logo-bao.png") no-repeat;
  background-size: 100% 100%;
}
.screem2 .box {
	/*width: 80%;*/
	height: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.screem2 .box>h1{
  font-size: 0.66rem;
  letter-spacing: 0.33rem;
  color: #d49e49;
}
.screem2 .box>p{
  font-size: 0.28rem;
  letter-spacing: 0.14rem;
  color: #666666;
}
.screem2 .box>h1,.screem2 .box>p{
  margin-top: 0.3rem;
}
.scr2-list-box{
  overflow: hidden;
  margin: 0 auto;
  width: 4.4rem;
}
.scr2-list-box li{
  width: 1.88rem;
  height: 3.12rem;
  margin-top: 0.6rem;
}

.scr2-list-box li:nth-child(1) i{
  background: url("../images/pic1.png") no-repeat center/contain;
}
.scr2-list-box li:nth-child(2) i{
  background: url("../images/pic2.png") no-repeat center/contain;
}
.scr2-list-box li:nth-child(3) i{
  background: url("../images/pic3.png") no-repeat center/contain;
}
.scr2-list-box li:nth-child(4) i{
  background: url("../images/pic4.png") no-repeat center/contain;
}

.scr2-list-box li:nth-child(2n){
  float: right;
}
.scr2-list-box li:nth-child(2n+1){
  float: left;
}
.scr2-list-box li i{
  display: block;
  width: 1.88rem;
  height: 2.14rem;
}
.scr2-list-box .p1{
  margin-top: 0.36rem;
  font-size: 0.24rem;
  color: #d49e49;
  font-weight: bold;
}
.scr2-list-box .p2{
  margin-top: 0.14rem;
  font-size: 0.18rem;
  color: #666666;
}
/* 移动端第三屏 */
.company {
	background: #eee;
}
.company .top{
  height: 5.83rem;
  background-color: #d49e49;
}
.company .top h1{
  padding-top: 1.2rem;
  font-size: 0.66rem;
  letter-spacing: 0.13rem;
  color: #ffffff;
}
.company .top p{
  margin-top: 0.56rem;
  text-align: center;
  font-size: 0.22rem;
  line-height: 0.33rem;
  color: #ffffff;
}
.company .pic{
  margin: 0 auto;
  position: absolute;
  top: 4.8rem;
  left: 0;
  right: 0;
  width: 5.14rem;
  height: 5.71rem;
  background: url(../images/pc-company-img.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0.05rem 0.08rem 0 rgba(170,124,14,0.5);
}

/*第四屏*/
.zhaopin{
  background: url("../images/recruit-bg.png") no-repeat;
  background-size: 100% 100%;
}
.zhaopin h3{
  margin-top: 1.2rem;
  font-size: 0.66rem;
  letter-spacing: 0.13rem;
  color: #d49e49;
}
.zhaopin p{
  text-align: center;
  line-height: 0.48rem;
  padding-top: 0.7rem;
  font-size: 0.24rem;
}
.more{
  display: block;
  margin: 0.85rem auto 0 auto;
  width: 3.43rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  background-color: #d49e49;
  font-size: 0.24rem;
  color: #ffffff;
}

/*.company .box {
	height: 100%;
}
.company h1 {
	text-align: center;
	padding: .42rem 0 0rem 0; 
}
.company h3 {
	display: none;
}
.company .company-img {
	height: 7.46rem;
	background: url(../images/m-company-img.png) no-repeat center/contain;
}
.company p {
	text-align: left;
    text-indent: 2em;
    font-size: .24rem;
    line-height: .48rem;
    color: #fff;
    padding: .4rem;
}*/

/* 关于我们 */
/* .pc.about, .pc.about {
	display: none;
}
.pc.about, .pc.contact {
	display: none;
} */
/* 移动端第四屏 */
.about {
	background: #101010;
}
.about h1 {
	padding: .42rem 0;
	text-align: center;
}
.about .investor {
	padding: 0 .3rem;
	margin: 0 auto;
}
.about .investor li{
	float: none;
	padding-bottom: .31rem;
}
.about .investor li h5 {
	width: 5rem;
    font-size: .24rem;
    color: #e08d0d;
    position: absolute;
    bottom: .45rem;
}
.about .investor li p {
	font-size: .24rem;
	color: #d39b45;
	line-height: .36rem;
	padding-top: 20px;
	clear: both;
}
.about .investor li .photo {
	width: 3.97rem;
	height: 2.07rem;
	position: relative;
}
.about .investor li:nth-child(2n+1) .photo {
	margin-left: .7rem;
	float: left;
}
.about .investor li:nth-child(2n+1) .photo h5 {
	text-align: left;
    left: 2.32rem;
}
.about .investor li:nth-child(2n+1) .photo .name{
	right: 0;
	bottom: 1.03rem;
}
.about .investor li:nth-child(2n) .photo {
	margin-right: .7rem;
	float: right;
}
.about .investor li:nth-child(2n) .photo h5 {
	text-align: right;
    right: 2.32rem;
}
.about .investor li:nth-child(2n) .photo .name {
	left: 0;
	bottom: 1.03rem;
}
.about .investor .photo .name {
	width: 1rem;
	height: .34rem;
	line-height: .34rem;
	text-align: center;
	font-size: .24rem;
	color: #cd810c;
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: 600;

}

.chen {
	background: url(../images/m-chen.png) no-repeat center/contain;
}
.zhang {
	background: url(../images/m-zhang.png) no-repeat center/contain;
}
.sun {
	background: url(../images/m-sun.png) no-repeat center/contain;
}
.he {
	background: url(../images/m-he.png) no-repeat center/contain;
}
.cai {
	background: url(../images/m-cai.png) no-repeat center/contain;
}
.zhou {
	background: url(../images/m-zhou.png) no-repeat center/contain;
}
.bi {
	background: url(../images/m-bi.png) no-repeat center/contain;
}
.luo {
	background: url(../images/m-luo.png) no-repeat center/contain;
}
.li {
	background: url(../images/m-li.png) no-repeat center/contain;
}
/* 移动端第五屏 */
.call{
  background: #232323;
}
.contact-box {
	background: #222222;
}
.contact {
	font-size: .28rem;
	color: #fff;
	background: #232323;
	background: url(../images/m-contact.png) no-repeat center/cover;
}
.contact h1 {
text-align: center;
    font-size: 0.66rem;
    letter-spacing: 0.13rem;
    color: #ECC77E;
    padding-top: .4rem;
}
.contact ol {
	padding: 0 .3rem;
	text-align: left;
}
.contact ol dl dt {
	font-size: .36rem;
	color: #fff;
	margin-top: .86rem;    
	margin-bottom: .3rem;
}
.contact ol dl dd {
	height: .64rem;
	line-height: .32rem;
	/* margin-top: .2rem; */
	padding-left: .64rem;
}
.contact ol dl dd:nth-child(2) {
	background: url(../images/icon-add.png) no-repeat left/.44rem .44rem;
}
.contact ol dl dd:nth-child(3) {
	line-height: .64rem;
	background: url(../images/icon-tel.png) no-repeat left/.44rem .44rem;
}
.contact ol dl dd:nth-child(4) {
	line-height: .64rem;
	background: url(../images/icon-mai.png) no-repeat left/.44rem .44rem;
}
.contact ol dl dd:last-child{
	    margin-bottom: .86rem;
}

.icp {
  position: absolute;
  /* z-index: 999; */
  /*padding: .4rem;*/
  font-size: .24rem;
  line-height: .48rem;
  color: #fff;
  background: #191919;
  bottom: 0;
  width: 100%;
}
.icp h3{
  padding: 0.3rem;
  text-align: left !important;
  border-bottom: 1px solid #aeaeae;
}
.icp-txt{
  padding: .4rem;
}
.icp p {
	text-align: left;
	margin: 0 auto;
	line-height: .48rem;
}
.icp p.p1 {
	padding-bottom: .1rem;
}

.icp p a {
	color: #fff;
}
.icp .icon-jh {
	width: .24rem;
	height: .24rem;
    top: .04rem;
    left: .07rem;
	background: url(../images/icon-jh.png) no-repeat center/contain;
	display: inline-block;
	position: relative;
}
.Bom{
  bottom: auto;
}

/*招贤纳士*/
.recruit-box{
  font-size: 0.24rem;
}
.preface{
  height: 5.8rem;
}
.preface{
  background: url("../images/more-bg.png") no-repeat center/cover;
  /*font-size: 0.24rem;*/
}
.preface p{
  text-align: center;
  line-height: 0.48rem;
  padding-top: 0.7rem;
}
.Eng{
  padding-top: 2rem;
  color: #666;
}
.Chin{
  color: #c17704;
}
.detail{
  background: #aeaeae;
}
.rec-nav{
  width: 100%;
  height: 1rem;
  background: #323232;
  /*font-size: 0.24rem;*/
  color: #c5c5c5;
  z-index: 100;
  padding: 0.38rem 0.236rem;
}
.rec-nav.active{
  position: fixed;
  z-index: 100;
}
.rec-nav li{
  float: left;
  color: #c5c5c5;
  position:relative;
}
.rec-nav li.active{
  color: #ecc77e;
}
.rec-nav li.active:before{
  position: absolute;
  bottom: -0.38rem;
  left: 46%;
  content: "";
  width: 0.13rem;
  height: 0.07rem;
  background: url("../images/focus-icon.png") center / contain;
}
.detail{
  padding: 0 0.36rem 0.4rem 0.36rem;
}
.detail h5{
  height: 0.6rem;
  line-height: 0.6rem;
  color: #8d5702;
  border-top: 2px solid #ecc77e;
  z-index: 0;
}
.detail h5 span{
  position: relative;
  display: inline-block;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
  padding: 0 .6rem;
  z-index: 0;
 }
.detail h5 span:before{
  content: "";
  width: 100%;
  height: 100%;
  background: #ecc77e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.detail h5 span:after{
  content: "";
  width: 100%;
  height: 100%;
  background: #ecc77e;
  opacity: 0.5;
  position: absolute;
  top: 0.12rem;
  left: 0.12rem;
  z-index: -1;
}
.detail li{
  border: 1px solid #aeaeae;
  display: none;
}
.detail li.active{
  display: block;
}
.detail .box{
  padding:0.6rem 0 0.87rem 0;
  margin-top: 0.2rem;
  background: #fff;
}
.detail .txt{
  padding: 0.1rem 0.3rem 0 0.3rem;
  color: #333;
}
.detail .txt h6{
  font-size: 0.24rem;
  font-weight: 600;
  padding: 0.28rem 0 0.12rem 0;
}
.detail .txt p{
  line-height: 0.36rem;
}

/*许可证*/
.licence-box{
  height: 13.8rem;
  position: relative;
  /*border-top: 0.1px solid rgba(237,193,123,0.8);*/
}
.licence{
  padding-top: 1.5rem;
}
.licence-box:before,.licence-box:after{
  height: 1.4rem;
}
.licence-box:before{
  content: "";
  /*height: 1.4rem;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url("../images/licence-top.png");
  background-size: 100% 100%;
}
.licence-box:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/licence-bottom.png");
  background-size: 100% 100%;
}
.licence-box i,.licence-box span{
  display: block;
  margin: 0 auto;
}
.licence-box i{
  margin: 0 auto;
  width: 2.29rem;
  height: .4rem;
  background: url("../images/pc-logo.png") no-repeat;
  background-size: 100% 100%;
}
.licence-box img{
  margin: 0.1rem auto 0 auto;
  width: 7.2rem;
  height: 10.4rem;
}